.App {
  text-align: center;
}

.header {
  color: white;
  height: 80%;
    width: 90%; /* hacemos que la cabecera ocupe el ancho completo de la página */
  left: 0; /* Posicionamos la cabecera al lado izquierdo */
  top: 0; /* Posicionamos la cabecera pegada arriba */
/*  position: fixed; /* Hacemos que la cabecera tenga una posición fija */
  z-index: 999;
  padding: 0;

}

.footer {
  position: absolute;
  width: 100%;
  height: 40px;
  color: white;
  font-style: oblique;
  font-size: 150%;
  background-color : rgb(110, 166, 243);
}

.App-link {
  color: #61dafb;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

html
{
 min-height: 100%;
  position: relative;
}

.content {
  margin-left: 150px;
  width: 85%;
  padding:30px;
   color:#595959;
}


.Bmenu{

width: 80px;
height: 80px;


}

.App-link {
  color: #61dafb;
}


body
{
margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: #666;
  font-size: 1em;
  line-height: 1.5em;
  padding-top: 80px; /* Relleno superior igual a la altura de la cabecera*/
  margin-bottom: 40px;
}


/*  definicion keyframe
 *  =========================================================================
 */

 @-webkit-keyframes aparecer{
  0% {
    height: 0px;
  }
  100%{
    height: 90px;
  }
}

@-moz-keyframes aparecer{
  0% {
    height: 0px;
  }
  100%{
    height: 90px;
  }
}

/*  elementos
 *  =========================================================================
 */

.menu_cabecera{color:#FFF;}


.menu_gral{

     background-color: #282c34;
    width: 200px;
    height: 100%;
    display: block;
    position: fixed;
    left: 0px;
    top: 55%;



}


.menu_gral ul {
  list-style-type: none;
  text-align: center;
  margin-left: -40px;
  width: 200px;


}
.menu_gral > ul li {
    background: #444;
    width: 200px;
    position: relative;

}



.menu_gral li a {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  line-height: 2.5rem;
  color: #FFFFFF;

}
.menu_gral li:hover a, .menu_gral li a:focus {
    background: #00638a;
    color: #fff;

}

.menu_gral li ul {
    height: 0;
    overflow: hidden;
}
.menu_gral li:hover ul, .menu_gral li:focus ul {
    height: auto;
}
.menu_gral li li {

}
.menu_gral li:hover li a, .menu_gral li:focus li a {
    font-family: monospace;
    font-size: .9rem;
    line-height: 1.7rem;
    border-top: 1px solid #e5e5e5;
    background: #444;
}
.menu_gral li li a:hover, .menu_gral li li a:focus {
    background: #8AA9B8;
}


/* animacion */
.menu_gral ul li:hover ul {
-webkit-animation: 500ms aparecer 1;
-moz-animation: 500ms aparecer 1;

}

.main-header {
  background: #333;
  color: white;
  height: 80px;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
  left: 0; /* Posicionamos la cabecera al lado izquierdo */
  top: 0; /* Posicionamos la cabecera pegada arriba */
  position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}
  .main-header a {
    color: white;
  }

/*
 * Logo
 */
.logo-header {
  float: left;
  padding: 15px 0 0 20px;
  text-decoration: none;
}
  .logo-header:hover {
    color: #0b76a6;
  }

  .logo-header .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
  }

  .logo-header .site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
  }
